<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        
    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                {% if user.is_authenticated %}
                    {{ user.first_name }}({{ user.username }})
                     <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                {% else %}
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                             <input type="text" class="form-control" placeholder="Username" name="username" >
                             <input type="password" class="form-control" placeholder="Password" name="psw" >
                             <button class="btn btn-primary" type="submit">Login</button>
                             <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                     </form>
                {% endif %}
        </div>
    </nav>

    <h1 class="text-center">
        Don't hesitate to contact us
    </h1>
    <h2 class="text-center">
        Address : On the street
    </h2>
    <h3 class="text-center">
        Phone number : +555 123456
    </h3>

    <footer class="mt-5 bg-light text-center">
        <a href="{% url 'djangoapp:contact' %}">Contact Us</a>
    </footer>

    </body>

</html>